<div class="header" role="Header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12">
                <div class="d-inline-block w-100 logo">
                    <a routerLink="/" class="d-inline-block">
                        <span>Qurbani</span>
                        <span>Giving</span>
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-12 d-none d-md-block">
                <div class="d-flex flex-wrap align-items-end justify-content-end button-content">
                    <div class="d-flex justify-content-end w-100 text-right">
                        <a class="btn bis-btn" routerLink="/">Bismillah</a>
                    </div>
                    <a routerLink="/" class="d-block get-started-link">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>