<!-- Header -->
<app-header></app-header>
<div class="content top-padding individual-content" role="main">
    <div class="container">
        <div class="d-block qurbani-section w-md-75 mx-md-auto pt-4">
            <div class="d-block qurbani-content mx-md-5 px-md-5">
                <div class=" image">
                    <img src="./assets/images/charity-img1.png" alt="">
                </div>
                <div class="d-block relief-text mx-md-5 px-md-5 text-center">
                    Human Appeal is an international relief and development agency working in over 24 countries,
                    providing humanitarian aid.
                </div>
                <div class="d-block qurbani-text mx-md-4 text-center">
                    Give your Qurbani with Human Appeal and gain immense reward in the month of Dhul Hijjah. Choose from
                    our livestock in different countries and checkout with ease.
                </div>
                <div class="d-block  givers-process mx-md-5 px-md-5">
                    <ngb-progressbar [value]="0" data-value=89></ngb-progressbar>
                    <div class="row">
                        <div class="col">
                            <div class="dotation-price">1600 givers</div>
                        </div>
                        <div class="col text-right">
                            <div class="dotation-price">1630 givers</div>
                        </div>
                    </div>
                </div>
                <div class="d-block text-center charities-btn mx-md-5 px-md-5">
                    <a routerLink="/thankyou" class="btn btn-danger">Get Started<span>
                        <i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div class="footer-banner">
        <img src="./assets/images/footer-banner3.png" alt="" />
    </div>
    <app-footer></app-footer>
</div>