<!-- Header -->
<app-header></app-header>
<div class="content top-padding thankyou-content" role="main">
    <div class="d-block thankyou-section">
        <div class="d-block heading text-center pt-4 pt-md-5">
            Thank You
        </div>
        <div class="banner"><img src="./assets/images/thank-banner.png" alt=""></div>
        <div class="d-block qurbani-donation">
            <div class="container">
                <div class="donation-section w-md-75 text-center mx-md-auto py-md-5 py-4">
                    <div class="d-block donation-content text-center mx-md-5 px-md-5 pb-4">
                        <p>Your Qurbani donation of <strong>£110.00</strong> has been successful and will provide 57
                            meals to families living in poverty.</p>
                    </div>
                    <div class="d-block islamice-relief px-md-5 mx-md-5 pt-md-5 ">
                        <div class="row">
                            <div class="col-4">
                                <div class="d-block donation-box text-center">
                                    <div class="image">
                                        <img src="./assets/images/relief.png" alt="">
                                    </div>
                                    <p>Islamic Relief</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-block donation-box text-center">
                                    <div class="image">
                                        <img src="./assets/images/pakistan-flag.png" alt="">
                                    </div>
                                    <p>Pakistan</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-block donation-box text-center">
                                    <div class="image">
                                        <img src="./assets/images/meals.png" alt="">
                                    </div>
                                    <p>57 Meals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block ibrahim py-4 py-md-5">
                <div class="container">
                    <div class="d-block patient-text text-center w-md-75 mx-md-auto">
                        <div class="d-block px-md-5">
                            ‘And, when he (Isma’il) was old enough to walk with him (Ibrahim), he said, “O my son! I
                            have
                            seen a dream that I am sacrificing you, so see what you think.”<br><br> ‘He (Isma’il) said,
                            “O
                            my father! Do as you are commanded. If Allah wills, you shall find me of the patient.”
                            Qur’an
                            37:102
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block qurbani-share py-4 py-md-5 ">
                <div class="container">
                    <div class="d-block heading text-center">
                        Share Qurbani Giving with your family and friends
                    </div>
                    <div class="d-block social-icon text-center">
                        <ul>
                            <li><i class="fab fa-whatsapp"></i></li>
                            <li class="last"><i class="fas fa-comment"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<app-footer></app-footer>